name: Run all programs

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  run:
    name: Run all programs
    runs-on: ubuntu-latest
  
    steps:
    - uses: actions/checkout@v2
    
    - name: Install dependencies
      run: sudo apt-get update && make install

    - name: Compile & Run all programs
      run: bash .github/workflows/run_all.sh 2>&1

    - name: Show file info
      run: make info
